<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>wiki</title>
</head>

<body>
<div class='up'>
  <div class="edit-area">
    <a class="login-link" href="/_edit{{p.post_id}}">edit</a>
    |
    <a class="login-link" href="/signup">history</a>
  </div>
  
  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
</div>
  <div class="post">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>

